<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8"/>
    <title>组件权限</title>
    <link rel="stylesheet" type="text/css" href="static/nprogress/nprogress.css"/>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/cola.css"/>
    <link rel="stylesheet" type="text/css" href="static/common/common.css"/>
    <link rel="stylesheet" type="text/css" href="static/bdf3/componentallot.css"/>
    <script src="static/nprogress/nprogress.js"></script>
</head>
<body>

    <h-box style="height: 100%; background-color: #f3f3f4;">
        <box style="width: 25%; padding: 10px; background-color: #E0E0E0;"  class="ui fragment">
            <c-panel id="rolePanel" caption="角色" height="100%" collapsible="false">
                <div class="content" style="height: 94%;">
                    <box style="height: 100%;">
                        <v-box style="height: 100%; background-color: #f3f3f4;">
                            <flex-box>
                                <c-panel height="100%" collapsible="false">
                                    <template name="tools">
                                        <div class="ui category search">
                                            <div class="ui icon input">
                                                <input class="prompt" type="text" placeholder="根据名称或描述搜索..." c-bind="searchRoleKey" c-onkeydown="searchRole()"/>
                                                <i class="icon search"></i>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="content">
                                        <c-table id="roleTable" bind="roles" sortMode="local">
                                            <column property="name" caption="角色名称" sortable="true"></column>
                                            <column property="description" caption="角色描述" sortable="true"></column>
                                        </c-table>
                                    </div>
                                </c-panel>
                            </flex-box>
                            <box style="height: 40px;">
                                <c-pager bind="roles"></c-pager>
                            </box>
                        </v-box>
                    </box>
                </div>
            </c-panel>
        </box>
        <flex-box>
        </flex-box>
        <box style="width: 73%; padding: 10px; background-color: #E0E0E0;" class="ui fragment">
            <h-box style="height: 98.5%;">
                <box style="height: 100%; width: 35%; background-color: #f3f3f4;">
                    <c-panel id="urlPanel" caption="页面权限" height="100%" collapsible="false">
                        <div class="content" style="height: 94%;">
                            <div class="content">
                                <c-tree id="urlTree">
                                    <template name="node-default">
                                        <div>
                                            <i c-classname="url.icon"></i>
                                            <span c-bind="url.name"></span>
                                        </div>
                                    </template>
                                </c-tree>
                            </div>
                        </div>
                    </c-panel>
                </box>
                <box style="width: 2%; height: 100%;">
                </box>
                <box style="height: 100%; width: 63%; background-color: #f3f3f4;">
                    <c-panel id="componentPanel" caption="组件权限" height="100%" collapsible="false">
                        <template name="tools">
                            <div id="toolsBtn" style="margin-top: -4px;">
                                <c-button id="saveBtn" icon="save" click="save">保存</c-button>
                                <c-button id="refreshBtn" icon="undo" click="refresh">刷新</c-button>
                            </div>
                        </template>
                        <div class="content" style="height: 94%;">
                            <div class="content">
                                <c-table id="componentTable" sortMode="local">
                                    <template name="action">
                                        <div>
                                            <c-radio-group items="{{items}}" bind="component.componentType"></c-radio-group>
                                        </div>
                                    </template>
                                    <column property="componentId" caption="组件ID" sortable="true"></column>
                                    <column property="name" caption="组件名称" sortable="true"></column>
                                    <column property="componentType" caption="类型" sortable="true"></column>
                                    <column caption="配置" template="action"></column>
                                </c-table>
                            </div>
                        </div>
                    </c-panel>
                </box>
            </h-box>

        </box>
    </h-box>

</body>
    <script src="static/jquery/jquery-2.1.3.js"></script>
    <script src="static/jquery/jquery.cookie.js"></script>
    <script src="static/cola-ui/3rd.js"></script>
    <script src="static/cola-ui/semantic.js"></script>
    <script src="static/common/common.js"></script>
    <script src="static/cola-ui/cola-core.js" charset="UTF-8"></script>
    <script src="static/cola-ui/cola.js" charset="UTF-8"></script>
    <script src="static/bdf3/componentallot.js"></script>

</html>