<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8"/>
    <title>角色分配</title>
    <link rel="stylesheet" type="text/css" href="static/nprogress/nprogress.css"/>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/cola.css"/>
    <link rel="stylesheet" type="text/css" href="static/common/common.css"/>
    <link rel="stylesheet" type="text/css" href="static/bdf3/roleallot_2.css"/>
    <script src="static/nprogress/nprogress.js"></script>
</head>
<body>
    <script type="text/javascript">
        //NProgress.configure({showSpinner: false, minimum: 0.3})
        //NProgress.start();
    </script>

    <h-box style="height: 100%; background-color: #f3f3f4;">
        <box style="width: 25%; padding: 10px; background-color: #E0E0E0;"  class="ui fragment">
            <c-panel id="rolePanel" caption="角色" height="100%" collapsible="false">
                <div class="content" style="height: 94%;">
                    <box style="height: 100%;">
                        <v-box style="height: 100%; background-color: #f3f3f4;">
                            <flex-box>
                                <c-panel height="100%" collapsible="false">
                                    <template name="tools">
                                        <div class="ui category search">
                                            <div class="ui icon input">
                                                <input class="prompt" type="text" placeholder="根据名称或描述搜索..." c-bind="searchRoleKey" c-onkeydown="searchRole()"/>
                                                <i class="icon search"></i>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="content">
                                        <c-table id="roleTable" bind="roles" sortMode="local">
                                            <column property="name" caption="角色名称" sortable="true"></column>
                                            <column property="description" caption="角色描述" sortable="true"></column>
                                        </c-table>
                                    </div>
                                </c-panel>
                            </flex-box>
                            <box style="height: 40px;">
                                <c-pager bind="roles"></c-pager>
                            </box>
                        </v-box>
                    </box>
                </div>
            </c-panel>
        </box>
        <flex-box>
        </flex-box>
        <box style="width: 73%; padding: 10px; background-color: #E0E0E0;" class="ui fragment">
            <c-panel id="allotPanel" caption="成员分配" height="100%" collapsible="false">
                <div class="content" style="height: 94%;">
                    <h-box style="height: 100%;">
                        <box style="width: 44%; height: 100%; background-color: #f3f3f4;">
                            <v-box style="height: 100%;">
                                <flex-box>
                                    <c-panel id="notAllot" caption="未分配用户" height="100%" collapsible="false">
                                        <template name="tools">
                                            <div class="ui category search">
                                                <div class="ui icon input">
                                                    <input id="leftSearch" class="prompt" type="text" placeholder="根据用户名或昵称搜索..." c-bind="searchLeftKey" c-onkeydown="searchLeftUser()"/>
                                                    <i class="icon search"></i>
                                                </div>
                                            </div>
                                        </template>
                                        <div class="content">
                                            <c-table bind="users" sortMode="local">
                                                <column property="username" caption="用户名" sortable="true"></column>
                                                <column property="nickname" caption="昵称" sortable="true"></column>
                                            </c-table>
                                        </div>
                                    </c-panel>
                                </flex-box>
                                <box style="height: 40px;">
                                    <c-pager bind="users"></c-pager>
                                </box>
                            </v-box>
                        </box>
                        <box style="width: 13%; height: 100%;">
                            <div style="text-align: center; margin-top: 220%;">
                                <c-button id="addBtn" icon="forward" click="add">添加</c-button>
                                <c-button id="removeBtn" icon="backward" click="remove" style="margin-top: 15px;">移除</c-button>
                            </div>
                        </box>
                        <box style="width: 43%; height: 100%;  background-color: #f3f3f4;">
                            <v-box style="height: 100%;">
                                <flex-box>
                                    <c-panel id="isAllot" caption="已分配用户" height="100%" collapsible="false">
                                        <template name="tools">
                                            <div class="ui category search">
                                                <div class="ui icon input">
                                                    <input id="rightSearch" class="prompt" type="text" placeholder="根据用户名或昵称搜索..." c-bind="searchRightKey" c-onkeydown="searchRightUser()"/>
                                                    <i class="icon search"></i>
                                                </div>
                                            </div>
                                        </template>
                                        <div class="content">
                                            <c-table bind="roleUsers" sortMode="local">
                                                <column property="username" caption="用户名" sortable="true"></column>
                                                <column property="nickname" caption="昵称" sortable="true"></column>
                                            </c-table>
                                        </div>
                                    </c-panel>
                                </flex-box>
                                <box style="height: 40px;">
                                    <c-pager bind="users"></c-pager>
                                </box>
                            </v-box>
                        </box>
                    </h-box>
                </div>
            </c-panel>
        </box>
    </h-box>

</body>
    <script src="static/jquery/jquery-2.1.3.js"></script>
    <script src="static/jquery/jquery.cookie.js"></script>
    <script src="static/cola-ui/3rd.js"></script>
    <script src="static/cola-ui/semantic.js"></script>
    <script src="static/cola-ui/cola-core.js" charset="UTF-8"></script>
    <script src="static/cola-ui/cola.js" charset="UTF-8"></script>
    <script src="static/bdf3/roleallot_2.js"></script>

</html>