<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta charset="UTF-8"/>
	<title>角色管理</title>	
	<link rel="stylesheet" type="text/css" href="static/nprogress/nprogress.css"/>
	<link rel="stylesheet" type="text/css" href="static/cola-ui/cola.css"/>
	<link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css"/>
	<link rel="stylesheet" type="text/css" href="static/common/common.css"/>
	<link rel="stylesheet" type="text/css" href="static/bdf3/role_2.css"/>
	<script src="static/nprogress/nprogress.js"></script>
</head>
<body>
	
	<v-box style="width:100%; background-color: #f3f3f4;" class="ui fragment">
		<box style="height: 60px; background-color: #f3f3f4; padding: 10px;">
			<h-box>
				<box>
					<c-button id="addBtn" icon="plus" click="add">添加</c-button>
				</box>
				<flex-box>
				</flex-box>
				<box>
					<div id="search" class="ui category search">
						<div class="ui icon input">
							<input class="prompt" type="text" placeholder="根据名称或描述..." c-bind="searchKey" c-onkeydown="search()"/>
							<i class="icon search"></i>
						</div>
					</div>
				</box>
			</h-box>
		</box>
		<flex-box style="background-color: #f3f3f4;">
			<c-table bind="roles" sortMode="local" style="background-color: #f3f3f4; width: 99%; margin-left: 10px;">
				<template name="action">
					<div>
						<c-button id="removeBtn" class="ui circular trash icon button" title="删除" c-onclick="removeTip(item)">
							<i class="trash icon"></i>
						</c-button>
						<c-button id="modifyBtn" class="ui circular write icon button" title="修改" c-onclick="modify(item)">
							<i class="write icon"></i>
						</c-button>
					</div>
				</template>
				<column property="name" caption="角色名称" sortable="true"></column>
				<column property="description" caption="角色描述" sortable="true"></column>
				<column caption="操作" template="action"></column>
			</c-table>
		</flex-box>
		<box style="height: 60px; background-color: #f3f3f4;">
			<c-pager bind="roles"></c-pager>
		</box>
	</v-box>
	
	<!--角色信息添加-->
	<div id="msgModal" class="ui basic modal">
		<div class="header">
			<i class="icon user"></i> <span class="caption">角色信息维护</span>
		</div>
		<div class="content">
			<form-layout id="form">
				<fields class="cols-4">
					<field class="cols-3">
						<label>角色名称</label>
						<c-input id="username" c-bind="editItem.name"></c-input>
					</field>
				</fields>
				<fields class="cols-4">
					<field class="cols-3">
						<label>角色描述</label>
						<c-input c-bind="editItem.description"></c-input>
					</field>
				</fields>
			</form-layout>
		</div>
		<div class="actions">
			<c-button icon="save" click="save">保存</c-button>
			<c-button icon="remove" click="cancel">取消</c-button>
		</div>
	</div>

	<!--删除角色-->
	<div id="delModal" class="ui basic modal">
		<i class="icon help circle"></i>
		<div class="content">
			<div class="description">
				<h2>是否删除该角色及其关联信息?</h2>
			</div>
		</div>
		<div class="actions">
			<c-button icon="save" click="remove">删除</c-button>
			<c-button icon="remove" click="cancelRemove">取消</c-button>
		</div>
	</div>
		
	<script src="static/jquery/jquery-2.1.3.js"></script>
	<script src="static/jquery/jquery.cookie.js"></script>
	<script src="static/cola-ui/3rd.js"></script>
	<script src="static/cola-ui/semantic.js"></script>
	<script src="static/common/common.js"></script>
	<script src="static/cola-ui/cola-core.js" charset="UTF-8"></script>
	<script src="static/cola-ui/cola.js" charset="UTF-8"></script>
	<script src="static/bdf3/role_2.js"></script>
</body>

</html>