<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8"/>
    <title>菜单管理</title>
    <link rel="stylesheet" type="text/css" href="static/nprogress/nprogress.css"/>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/cola.css"/>
    <link rel="stylesheet" type="text/css" href="static/common/common.css"/>
    <link rel="stylesheet" type="text/css" href="static/bdf3/url_2.css"/>
    <link rel="stylesheet" type="text/css" href="static/common/hover.css"/>
    <script src="static/nprogress/nprogress.js"></script>
</head>
<body>

    <h-box style="height: 100%; background-color: #FFF;">
        <box style="width: 35%; padding: 10px; background-color: #E0E0E0;"  class="ui fragment">
            <c-panel caption="菜单" height="100%" collapsible="false">
                <template name="tools">
                    <div id="toolsBtn">
                        <c-button id="addTopBtn" icon="plus" click="addTop">添加顶级菜单</c-button>
                        <c-button id="refreshBtn" icon="undo" click="refresh">刷新</c-button>
                    </div>
                </template>
                <div class="content" style="background-color: #f3f3f4; height: 95%;">
                    <c-tree id="urlTree" style="background-color: #f3f3f4;">
                        <template name="node-default">
                            <div>
                                <i c-classname="url.icon"></i>
                                <span c-bind="url.name"></span>
                                <div class="node-operation">
                                    <i id="addSubBtn" c-onclick="addChild()" title="添加子级菜单" class="positive icon plus"></i>
                                    <i id="removeBtn" c-onclick="removeShow()" title="删除当前菜单" class="positive icon trash outline"></i>
                                </div>
                            </div>
                        </template>
                    </c-tree>
                </div>
            </c-panel>
        </box>
        <flex-box style="background-color: #f3f3f4;">
        </flex-box>
        <box style="width: 63%; padding: 10px; background-color: #E0E0E0;"  class="ui fragment">
            <c-panel caption="详情" height="100%" collapsible="false">
                <div class="content" style="background-color: #f3f3f4; height: 100%;">
                    <form-layout id="form">
                        <fields class="cols-4">
                            <field class="cols-3">
                                <label>名称</label>
                                <c-input c-bind="editItem.name"></c-input>
                            </field>
                        </fields>
                        <fields class="cols-4">
                            <field class="cols-3">
                                <label>图标</label>
                                <c-input id="iconInput" c-bind="editItem.icon">
                                    <c-button id="iconBtn" class="icon" icon="list layout" title="图标选择" click="showIcon"></c-button>
                                </c-input>
                            </field>
                        </fields>
                        <fields class="cols-4">
                            <field class="cols-3">
                                <label>路径</label>
                                <c-input c-bind="editItem.path"></c-input>
                            </field>
                        </fields>
                        <fields class="cols-4">
                            <field class="cols-3">
                                <label>可导航</label>
                                <c-toggle bind="editItem.navigable"></c-toggle>
                            </field>
                        </fields>
                        <fields class="cols-4">
                            <field class="cols-3">
                                <label>排序号</label>
                                <c-input c-bind="editItem.order"></c-input>
                            </field>
                        </fields>
                        <fields class="cols-4">
                            <field class="cols-3">
                                <label style="margin-top: -140px;">描述</label>
                                <c-textarea c-bind="editItem.description" style="width: 10%;"></c-textarea>
                            </field>
                        </fields>
                        <div class="ui segment basic" style="float: right; margin-right: 23%;">
                            <c-button id="saveBtn" class="violet" icon="save" click="save" style="float: right; color: #000;">保存</c-button>
                        </div>
                    </form-layout>
                </div>
            </c-panel>
        </box>
    </h-box>



    <!--*******************************************************************-->
    <!--删除菜单-->
    <div id="delModal" class="ui basic modal">
        <i class="icon help circle"></i>
        <div class="content">
            <div class="description">
                <h2>是否删除该菜单及其关联信息?</h2>
            </div>
        </div>
        <div class="actions">
            <c-button icon="save" click="remove">删除</c-button>
            <c-button icon="remove" click="cancelRemove">取消</c-button>
        </div>
    </div>

    <div id="dialogIcon" c-widget="Dialog; closeable:false;" style="width: 100%; height:100%; z-index: -1;">
        <div id="iconContent" class="content" style="height: 100%; padding: 30px; z-index: 1200;">

        </div>
    </div>

</body>
    <script src="static/jquery/jquery-2.1.3.js"></script>
    <script src="static/jquery/jquery.cookie.js"></script>
    <script src="static/cola-ui/3rd.js"></script>
    <script src="static/cola-ui/semantic.js"></script>
    <script src="static/common/common.js"></script>
    <script src="static/cola-ui/cola-core.js" charset="UTF-8"></script>
    <script src="static/cola-ui/cola.js" charset="UTF-8"></script>
    <script src="static/bdf3/url_2.js"></script>

</html>