/* 主色调定义 */
/* 文字内容色调定义 */
/* 背景色调定义 */
/* 边框色调定义 */
/* 主题色定义 */
/* Input */
/* main page */
html body {
  padding: 0.8em;
  background-color: #f3f3f4;
}


/* 删除页面 */
.icon.help.circle {
    margin-left: 400px;
    font-size: 80px;
}
.ui.modal > .content > .description {
    margin-left: 285px;

}

/*树节点*/
.current>.tree.node .node-operation {
    display: inline-block;
}

.node-operation {
    display: none;
    float: right;
    padding-right: 0.5em;
}

.node-operation i {
    margin-right: 0.5em;
}

/*panel头部*/
c-panel > .header > .content {
    background-color: #E0E0E0 !important;
}

/*功能按钮*/
c-button {
    background-color: #BEBEBE !important;
}

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: #6C6C6C !important;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
	background-color: #6C6C6C !important;
}
