@CHARSET "UTF-8";

.checkbox-label {
    color: #D4D4D5 !important;
}

.remember {
    min-width: 300px;
    text-align: left;
}

.ui.form {
    display: inline-block;
}

.ui.header {
    color: #F0F0F0;
}

.ui.page{
    /*background-color: #082b4f;*/
    background-image: url("../../static/resources/images/bg3.jpg");
    background-size: 100% 100%;
}

.ui.huge.form > .field {
    margin-top: 20px;
    height: 30px;
    
}

.ui.huge.form > .field > input{
    height: 40px;
    width: 360px;
    color: #000000;
    font-size: 18px;
    border-radius: 7px;
}

.ui.error.message > ul > li {
	width: 140px !important;
    color: red !important;
}

