<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8"/>
    <title>错误页面</title>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css"/>
    <style type="text/css">
        .ui.segment {
            width: 280px; height: 280px; display: inline-block !important; line-height: 220px;
        }
    </style>
</head>
<body>
<div class="ui page dimmer active">
    <div class="content">
        <div class="center">
            <!-- 页面不存在 -->
            <div id="notExist" class="ui circular inverted segment">
                <div class="ui inverted statistic">
                    <div class="value">
                        <i class="find icon"></i>
                        <span>404</span>
                    </div>
                    <h2 class="ui inverted header"> 页面不存在 </h2>
                </div>
            </div>
            <!-- 权限不足 -->
            <div id="notAuth" class="ui circular inverted segment">
                <div class="ui inverted statistic">
                    <div class="value">
                        <i class="protect icon"></i>
                        <span>403</span>
                    </div>
                    <h2 class="ui inverted header"> 权限不足 </h2>
                </div>
            </div>
            <!-- 系统出现异常 -->
            <div id="SysEx" class="ui circular inverted segment">
                <div class="ui inverted statistic">
                    <div class="value">
                        <i class="frown icon"></i>
                        <span>500</span>
                    </div>
                    <h2 class="ui inverted header"> 系统出现异常 </h2>
                </div>
            </div>
            
        </div>
    </div>
</div>

</body>
	<script th:inline="javascript">
		var status = [[${status}]];
	</script>
	<script src="static/jquery/jquery-2.1.3.js"></script>
	<script src="static/cola-ui/semantic.js"></script>
	<script src="static/frame/error.js"></script>
</html>