<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="static/cola-ui/semantic.css"/>
    <style>
        [tag="contentContainer"]{
            display:none;
        }
    </style>
    <style type="text/css">
        .ui.segment {
            width: 280px; height: 280px; display: inline-block !important; line-height: 220px;
        }
    </style>
</head>
<body>
	<div class="ui page dimmer active">
	    <div class="content">
	        <div class="center">
	            <div id="notExist" class="ui circular inverted segment">
	                <div class="ui inverted statistic">
	                    <div class="value">
	                        <i class="warning sign icon"></i>
	                    </div>
	                    <h2 id="h" class="ui inverted header"></h2>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>

	<script src="static/jquery/jquery-2.1.3.js"></script>
	<script src="static/cola-ui/semantic.js"></script>
	<script th:inline="javascript">
		var param = decodeURI(window.location.search);
		var msg = param.substring(1, param.length);
		$("#h").text(msg);
	</script>
</html>